fastapi
uvicorn
pydantic
pydantic-settings
python-multipart
python-dotenv
imagehash
Pillow
transformers
qdrant-client
google-genai
duckduckgo-search
opencv-python-headless
numpy
django
django-ninja
django-cors-headers
yt-dlp
beautifulsoup4
